<div class="row text-center bg-light">
  <div class="col-sm-12">
    <h1 class="text-secondary"><a>Harry Potter</a></h1>
  </div>
</div>
<ul class="nav justify-content-center bg-light">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['']">Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['characters']">Characters</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['staff']">Staff</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['students']">Students</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['houses']">Houses</a>
  </li>
</ul>
